doctype html
include /../../static/assets/ldui/pug/ldui.pug
html
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("assets/ldui/ldui.min.css")
    +css("assets/ldrs/ldrs.min.css")
    +css("css/index.css")
    style: :stylus
      @font-face
        font-family: 'ldi'
        font-weight: normal
        font-style: normal
        src: url('assets/ldui/fonts/ldi.ttf') format('truetype')

  body
    .w-1024.rwd.mx-auto.mt-4.pt-4
      span Slider ( label up )
      div: .ldrs.up
      br
      span Slider ( normal )
      div: .ldrs
      br
      span Slider ( exponential scale )
      div: .ldrs
      br
      span Slider ( exponential scale with limit )
      div: .ldrs
      br
      span Slider ( step larger than 1 )
      div: .ldrs
      br
      .btn.btn-outline-dark(onclick="popup()") Popup
    .ldcv: .base: .inner.card: .card-body
      span Slider ( inside Modal )
      div: .ldrs

  +script("assets/ldui/ldui.min.js")
  +script("assets/ldrs/ldrs.min.js")
  script(src="js/index.js")
