.ldrs .bar .cap,
.ldrs .bar .fg,
.ldrs .ptr:after,
.ldrs .hint.p {
  background: #f00;
}
.ldrs .bar .cap:nth-child(2),
.ldrs .bar .bk,
.ldrs .hint,
.ldrs .lock-line:after {
  background: #eee;
}
.ldrs .hint {
  color: #aaa;
}
.ldrs .hint.p {
  color: #fff;
}
input.ldrs {
  display: none;
}
.ldrs {
  position: relative;
}
.ldrs .bar-inner {
  width: 100%;
  height: 100%;
}
.ldrs .bar {
  width: 100%;
  position: relative;
}
.ldrs .bar .cap {
  width: 10px;
  position: absolute;
}
.ldrs .bar .cap:nth-child(1) {
  border-radius: 5px 0 0 5px;
  top: 0;
  left: -10px;
}
.ldrs .bar .cap:nth-child(2) {
  border-radius: 0 5px 5px 0;
  top: 0;
  right: -10px;
}
.ldrs .bar .fg {
  width: 50%;
  position: absolute;
  left: 0;
  right: 50px;
  width: auto;
  top: 0;
}
.ldrs .bar .bk {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}
.ldrs .ptr,
.ldrs .lock-line {
  position: absolute;
  width: 9px;
  left: 0;
  margin-left: -3px;
  cursor: pointer;
  background: rgba(255,255,255,0.01);
  z-index: 1;
}
.ldrs .ptr:after,
.ldrs .lock-line:after {
  content: " ";
  display: block;
  width: 3px;
  height: 100%;
  margin-left: 3px;
  border-radius: 12px;
}
.ldrs .hint {
  font-family: sans-serif;
  padding: 1px 4px 2px;
  font-size: 10px;
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  user-select: none;
  line-height: 1em;
  z-index: 0;
  transition: none;
}
.ldrs .hint.l {
  left: 0;
}
.ldrs .hint.r {
  right: 0;
}
.ldrs .hint.lock {
  right: 40%;
  margin-right: -6px;
  display: none;
}
.ldrs .bar .lock-line {
  padding: 0;
  right: 40%;
  margin-right: -6px;
  left: auto;
  display: none;
  z-index: 0;
}
.ldrs .hint.p {
  cursor: pointer;
  z-index: 1;
}
.ldrs.limit .hint.lock,
.ldrs.limit .lock-line {
  display: block;
}
.ldrs {
  height: 2.25em;
  padding: 0.2em 10px;
}
.ldrs .bar,
.ldrs .fg,
.ldrs .bk,
.ldrs .cap {
  height: 0.875em;
}
.ldrs .ptr,
.ldrs .lock-line {
  top: -0.2em;
  height: 1.875em;
}
.ldrs .hint {
  top: 2.035em;
  font-size: 0.7em;
}
.ldrs .hint.p {
  top: 1.75em;
}
.ldrs.ldrs-sm {
  height: 1.9125em;
  padding: 0.1em 10px;
}
.ldrs.ldrs-sm .bar,
.ldrs.ldrs-sm .fg,
.ldrs.ldrs-sm .bk,
.ldrs.ldrs-sm .cap {
  height: 0.7em;
}
.ldrs.ldrs-sm .ptr,
.ldrs.ldrs-sm .lock-line {
  top: -0.1em;
  height: 1.7125em;
}
.ldrs.ldrs-sm .hint {
  top: 1.6663em;
  font-size: 0.6em;
}
.ldrs.ldrs-sm .hint.p {
  top: 1.5125em;
}
.ldrs.ldrs-lg {
  height: 2.875em;
  padding: 0.375em 10px;
}
.ldrs.ldrs-lg .bar,
.ldrs.ldrs-lg .fg,
.ldrs.ldrs-lg .bk,
.ldrs.ldrs-lg .cap {
  height: 1em;
}
.ldrs.ldrs-lg .ptr,
.ldrs.ldrs-lg .lock-line {
  top: -0.375em;
  height: 2.5em;
}
.ldrs.ldrs-lg .hint {
  top: 2.1875em;
  font-size: 0.8em;
}
.ldrs.ldrs-lg .hint.p {
  top: 1.71875em;
}
.ldrs.up .bar {
  top: 1.075em;
}
.ldrs.up .ptr,
.ldrs.up .lock-line {
  top: -0.775em;
}
.ldrs.up .hint {
  top: 0.1em;
}
.ldrs.up .hint.p {
  top: -1.775em;
}
.ldrs.ldrs-sm.up .bar {
  top: 0.9125em;
}
.ldrs.ldrs-sm.up .ptr,
.ldrs.ldrs-sm.up .lock-line {
  top: -0.7125em;
}
.ldrs.ldrs-sm.up .hint {
  top: 0em;
}
.ldrs.ldrs-sm.up .hint.p {
  top: -1.5125em;
}
.ldrs.ldrs-lg.up .bar {
  top: 1.25em;
}
.ldrs.ldrs-lg.up .ptr,
.ldrs.ldrs-lg.up .lock-line {
  top: -1.2em;
}
.ldrs.ldrs-lg.up .hint {
  top: 0.3em;
}
.ldrs.ldrs-lg.up .hint.p {
  top: -1.8em;
}
