doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="ldrs.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(src="assets/ldq.min.js")
    script(src="ldrs.js")
  body
    div(style="margin:100px"): .ldrs.up
    div(style="margin:100px"): .ldrs

  script(src="index.js")
