/* color related */
.ldrs
  .bar .cap, .bar .fg, .line.p:after, .hint.p { background: #f00 }
  .bar .cap:nth-child(2), .bar .bk, .hint, .line.lock:after { background: #eee }
  .hint { color: #aaa }
  .hint.p { color: #fff }
  &.range .cap { background: #eee }
  .hint.lock:before { border-color: #aaa }
  .hint.lock:after { background: #aaa }

.ldrs.tone
  .bar .cap, .bar .fg, .line.p:after, .hint.p { background: var(--fg) }
  .bar .cap:nth-child(2), .bar .bk, .hint, .line.lock:after { background: var(--bg) }
  .hint { color: var(--text-muted) }
  .hint.p { color: var(--text) }
  &.range .cap { background: var(--bg) }
  .hint.lock:before { border-color: var(--text-muted) }
  .hint.lock:after { background: var(--text-muted) }


input.ldrs
  display: none

.ldrs
  position: relative
  .bar-inner
    width: 100%
    height: 100%
  .bar
    width: 100%
    position: relative
    .cap
      width: 10px
      position: absolute
    .cap:nth-child(1)
      border-radius: 5px 0 0 5px
      top: 0
      left: -10px
    .cap:nth-child(2)
      border-radius: 0 5px 5px 0
      top: 0
      right: -10px
    .fg, .bk
      position: absolute
      left: 0
      top: 0
      width: auto
    .bk
      right: 0

/* hint related */
.ldrs
  .hint
    font-family: ldrs-default-font, sans-serif
    font-size: 12px
    /* space and glyph pixel rate: 2/3 */
    line-height: 0.66666667em
    /* be sure to align this with plain `.ldrs .hint` config. */
    padding: 3px 4px 3px
    display: inline-block
    border-radius: 3px
    position: absolute
    user-select: none
    z-index: 0
    transition: none
  .hint.l { left: 0 }
  .hint.r { right: 0 }
  .hint.lock
    right: 40%
    margin-right: -6px
    display: none
  .hint.p
    cursor: pointer
    z-index: 1
  .hint.p.alt
    display: none

/*
  there is an one pixel offset in firefox, which causes inconsistent between different browsers.
  not sure if it's webkit or firefox bug, or glyph configuration issue.
  a quick hack is to target firefox with an alternative padding setting. see also:
   - https://bugzilla.mozilla.org/show_bug.cgi?id=442139
   - https://github.com/fontello/fontello/issues/93
   - https://stackoverflow.com/questions/4439537/1-pixel-line-height-difference-between-firefox-and-chrome
   - https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
*/
@-moz-document url-prefix() {
  .ldrs .hint {
    /* be sure to align this with plain `.ldrs .hint` config. */
    padding: 2px 4px 4px
  }
}

/* inner line related */
.ldrs
  .line
    position: absolute
    width: 9px
    left: 0
    margin-left: -3px
    cursor: pointer
    background: rgba(255,255,255,0.01)
    z-index: 1
    &:after
      content: " "
      display: block
      width: 3px
      height: 100%
      margin-left: 3px
  .line.lock
    padding: 0
    right: 40%
    margin-right: -6px
    left: auto
    display: none
    z-index: 0
  .line.p.alt
    display: none

.ldrs.range
  .p.alt
    display: block
.ldrs.limit
  .hint.lock, .line.lock
    display: block

.ldrs
  .hint.lock
    width: 16px
    height: 14px
  .hint.lock:before, .hint.lock:after
    content: ""
    display: block
    position: absolute
  .hint.lock:before
    border-width: 1px
    border-style: solid
    top: 2px
    left: 5px
    width: 6px
    height: 10px
    border-radius: 4px 4px 0 0
  .hint.lock:after
    top: 6px
    left: 4px
    width: 8px
    height: 6px
    border-radius: 2px


/* layout related */
.ldrs
  height: calc(2.25em + 2px)
  padding: .2em 10px
  .bar, .fg, .bk, .cap
    height: .875em
  .line
    top: -.2em
    height: 1.875em
  .hint
    top: 2.035em
  .hint.p
    top: 1.75em

.ldrs .hint
  font-size: 12px
.ldrs.sm .hint
  font-size: 10px
.ldrs.lg .hint
  font-size: 14px

.ldrs.auto .hint
  font-size: .7em
.ldrs.sm.auto .hint
  font-size: .6em
.ldrs.lg.auto .hint
  font-size: .8em

.ldrs.sm
  height: 1.9125em
  padding: .1em 10px
  .bar, .fg, .bk, .cap
    height: .7em
  .line
    top: -.1em
    height: 1.7125em
  .hint
    top: 1.6663em
  .hint.p
    top: 1.5125em

.ldrs.lg
  height: 2.875em
  padding: .375em 10px
  .bar, .fg, .bk, .cap
    height: 1em
  .line
    top: -.375em
    height: 2.5em
  .hint
    top: 2.1875em
  .hint.p
    top: 1.71875em

.ldrs.up
  .bar
    top: 1.075em
  .line
    top: -.775em
  .hint
    top: .1em
  .hint.p
    top: -1.775em

.ldrs.sm.up
  .bar
    top: .9125em
  .line
    top: -.7125em
  .hint
    top: 0em
  .hint.p
    top: -1.5125em

.ldrs.lg.up
  .bar
    top: 1.25em
  .line
    top: -1.2em
  .hint
    top: .3em
  .hint.p
    top: -1.8em
