.ldrs
  .bar .cap, .bar .fg, .ptr:after, .hint.p
    background: #f00
  .bar .cap:nth-child(2), .bar .bk, .hint, .lock-line:after
    background: #eee
  .hint
    color: #aaa
  .hint.p
    color: #fff

.ldrs
  position: relative
  //height: 34px
  //padding: 0 10px
  //margin-top: .25em
  //.bar, .fg, .bk, .cap
  //  height: 12px
  .bar-inner
    width: 100%
    height: 100%
  .bar
    width: 100%
    position: relative
    .cap
      width: 10px
      position: absolute
    .cap:nth-child(1)
      border-radius: 5px 0 0 5px
      top: 0
      left: -10px
    .cap:nth-child(2)
      border-radius: 0 5px 5px 0
      top: 0
      right: -10px
    .fg
      width: 50%
      position: absolute
      left: 0
      right: 50px
      width: auto
      top: 0
    .bk
      position: absolute
      top: 0
      left: 0
      right: 0
      width: auto
  .ptr, .lock-line
    position: absolute
    width: 9px
    //height: 21px
    //top: -3px
    left: 0
    margin-left: -3px
    cursor: pointer
    background: rgba(255,255,255,0.01)
    z-index: 1
    &:after
      content: " "
      display: block
      width: 3px
      height: 100%
      margin-left: 3px
      border-radius: 12px
  .hint
    font-family: sans-serif
    padding: 1px 4px 2px
    font-size: 10px
    display: inline-block
    border-radius: 3px
    position: absolute
    //top: 18px
    user-select: none
    line-height: 1em
    z-index: 0
    transition: none
  .hint.l
    left: 0
  .hint.r
    right: 0
  .hint.lock
    right: 40%
    margin-right: -6px
    display: none
  .bar .lock-line
    padding: 0
    right: 40%
    margin-right: -6px
    left: auto
    display: none
    z-index: 0
  .hint.p
    cursor: pointer
    z-index: 1

.ldrs.limit
  .hint.lock, .lock-line
    display: block

.ldrs
  height: 2.25em
  padding: .2em 10px
  .bar, .fg, .bk, .cap
    height: .875em
  .ptr, .lock-line
    top: -.2em
    height: 1.875em
  .hint
    top: 2.035em
    font-size: .7em
  .hint.p
    top: 1.75em

.ldrs.ldrs-sm
  height: 1.9125em
  padding: .1em 10px
  .bar, .fg, .bk, .cap
    height: .7em
  .ptr, .lock-line
    top: -.1em
    height: 1.7125em
  .hint
    top: 1.6663em
    font-size: .65em
  .hint.p
    top: 1.5125em

.ldrs.ldrs-lg
  height: 2.875em
  padding: .375em 10px
  .bar, .fg, .bk, .cap
    height: 1em
  .ptr, .lock-line
    top: -.375em
    height: 2.5em
  .hint
    top: 2.1875em
    font-size: .8em
  .hint.p
    top: 1.71875em

.ldrs.up
  .bar
    top: 1.075em
  .ptr, .lock-line
    top: -.775em
  .hint
    top: .1em
  .hint.p
    top: -1.775em

.ldrs.ldrs-sm.up
  .bar
    top: .9125em
  .ptr, .lock-line
    top: -.7125em
  .hint
    top: 0em
  .hint.p
    top: -1.5125em

.ldrs.ldrs-lg.up
  .bar
    top: 1.25em
  .ptr, .lock-line
    top: -1.2em
  .hint
    top: .3em
  .hint.p
    top: -1.8em
